
nav{
    background-color : #0026ff;
    padding: 20px;
    color : white;
    text-align: center;
    border-bottom: solid 10px black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    margin-right: 10px;
}

@keyframes changeColor {
    0% { color: black; }
    30% { color: white; }
    60% { color: black; }
    900% { color: white; }
}

.Logo {
    color: black;
    padding: 5px;
    animation: changeColor 25s infinite;
    font-size: xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    text-decoration: none;
}
a:hover {
    color: #000;
    background-color : white;
}
.ActiveOption{
    color: black;
    text-decoration: none;
}